@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-language-dropdown .text-gray-600 {
        @apply text-black/50 text-base;
    }
}

[x-cloak] {
    display: none !important;
}

.visibility-hidden {
    visibility: hidden; /* Keeps the space reserved */
}

@keyframes highlight-new {
    0% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}

.highlight-new {
    animation: highlight-new 3s ease-in-out;
}

